* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.col{
  
  margin: 0 16px;
  
}

/* FORMATTAZIONE PAGINA */

body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Fredoka', sans-serif;
}

.container {
  width: 100%;
  height: 500px;
  text-align: center;
}


/* TITOLO E SOTTOTITOLO */
.titolo {
  margin: 30px;
  color: #E53170;
}

/* MEMBRI TEAM */
.card{
  box-shadow:0px 0px 5px  #0F0E17;
  height: 100px;
  width: calc(80%/3);
  min-width: 300px;
  background-color: #0F0E17;
  float: left;
  vertical-align: middle;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: left;
}


.nome, .professione, .email {
  font-size: 13px;
  color: aliceblue;
  height: 100%;
  margin-bottom: 12px;
  text-align: left;

}


.container-cards {

  margin: 50px 5%;
}



.card img {
  height: 100px;
  width: 100px;
  float: left;
  
}

.descrizione {
  display: inline-block;
  margin-left: 0;
  margin-top: 5px;
  text-align: left;
}

.nome{
  font-weight: bold;
  font-size: 15px;
}


.professione{
  font-size: 14px;
}


.email a{
  color: #58BBE4;
  font-size: 14px;
}







